App/Messages/Password/Remind/constraint.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:complexType name="remind">
		<xsd:all>
			<xsd:element name="reminder" type="xsd:string"/>
			<xsd:element name="expiration" type="xsd:string"/>
		</xsd:all>
	</xsd:complexType>

	<xsd:element name="remind" type="remind"/>

</xsd:schema>
