App/Page/Invitation/templates/constraint.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

	<xsd:complexType name="invitation">
		<xsd:all>
			<xsd:element name="url" type="xsd:anyURI"/>
			<xsd:element name="expression" type="xsd:string"/>
			<xsd:element name="author" type="xsd:string"/>
			<xsd:element name="code" type="xsd:string"/>
			<xsd:element name="email" type="xsd:string"/>
		</xsd:all>
	</xsd:complexType>

	<xsd:element name="invitation" type="invitation"/>

</xsd:schema>
